* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cTitulo {
    color:white;
    font-size: 60px;
    background-color: black;
    text-align: center;
    padding: 30px 0px 10px 0px;
    margin-bottom: 30px;
}
.subTitulos {
    color: white;
    margin: 30px 0px 30px 0px;
    font-size: 35px;
    background-color: black;
    font-weight: bold;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif
    
}
.textoN {
    color: black;
    margin: 40px 0px 10px 0px;
    font-size: 15px;
    background-color: whitesmoke;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-style: italic;
}
.centrado {
    text-align: center;
    margin: 15px 0px 15px 0px;
}
.listas {
    font-size: 20px;
    width: 600px;
    padding: 0px 0px 0px 30px;
}
footer li{
    list-style: none;
    
}
.italicS {
    font-style: italic;
}

body ul.centrado{
    list-style: none;
}

body a:link, body a:visited {
    margin: 5px 0px 0px 10px;
    text-decoration: none;
    background-color: silver;
    color: black;
    font-size: 30px;
    display: block;
    width: 400px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 2px;
}

body a:hover, body a:active {
    background-color: gray;
    color: white;
}

footer a:link, footer a:visited{
    text-decoration:  none;
    background-color: silver;
    border: 2px black;
    color: black;
    display: block;
    width: 200px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 25px;
    margin: 2px;
    
}
footer a:active, footer a:hover {
    background-color: gray;
    color: white;
    
}

#Poderes ul.italicS li:nth-child(odd) {
    background-color: rgb(226, 222, 222);
}
#Poderes ul.italicS li:hover {
    background: gray;
    color: white;
}

#corgiLogo {
    width: 200px;
    height: 85px;
    background: url("corgi2.jpg");
    position: absolute;
    top: 15px;
    left: 30px;
    background-repeat: no-repeat;
}