nav {
    background-color: silver;
    font-weight: bold;
}

#ourMenu {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.addPadding {
    background-color: silver;
}

.subtitulos {
    font-size: 25px;
    font-weight: bold;
}