.header {
    height: 95vh;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(155, 218, 247, 0.671),
            rgba(79, 161, 238, 0.568)),
        url(../img/lazy-dog.jpg);
    background-size: cover;
    background-position: left;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
